<h2>Order a burger:</h2>

<form>
    <div class="form-group">
        <input type="burger" id="newBurger" , placeholder="What would you like?">
    </div>
    <button type="submit" class="btn btn-primary">
        Place Order
    </button>
</form>


<hr>

<h2>Burgers Devoured:</h2>

{{!-- Add ul #each --}}

<h2>Burgers Ready:</h2>

{{!-- Add ul #each --}}

<h2>All Burgers:</h2>

<ul>

</ul>
{{#each burgers}}
    <li>
        {{ burger_name }}
    </li>
{{/each}}

{{!-- Add ul #each --}}

{{!-- <h2>{{ t1 }}</h2>

<h3>{{ t2 }}</h3> --}}