body {
    background-color: #b9b4a594;
}

.jumbotron {
    background-color: #f1be2fa8;
    justify-self: center;
    margin: 20px auto;
    width: 60%;
}

.jumbotron_text {
    text-align: center;
    font-size: 40px;
}

.burger_img {
    justify-content: center;
    height: 120px;
    width: 120px;
}

hr {
    width: 50%;
}

.jumbo_p {
    text-align: center;
    font-size: 20px;
}

ul {
    list-style: none;
}

li {
    background-color: #f1be2fa8;
    font-size: 23px;
    margin-bottom: 10px;
    width: 40%;
}

.remake_burger, .devour_burger, .delete_burger {
    margin-bottom: 4px;
    font-size: 10px;
}